[submodule "padrino-gen/lib/padrino-gen/generators/templates/static"]
	path = padrino-gen/lib/padrino-gen/generators/templates/static
	url = git://github.com/padrino/padrino-static.git
	branch = master
[submodule "padrino-docs"]
	path = padrino-docs
	url = git://github.com/padrino/padrino-docs.git
	branch = master
