%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:<%= @orm.name_plural %>, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:<%= @orm.name_plural %>, :new)

.tabs-content
  = form_for :<%= @orm.name_singular %>, url(:<%= @orm.name_plural %>, :create), :class => 'form-horizontal' do |f|
    =partial '<%= @orm.name_plural %>/form', :locals => { :f => f }
