-tab :general do
  -box :data do
    %table
      %tr
        %td=f.label :name
        %td=f.text_field :name
      %tr
        %td=f.label :surname
        %td=f.text_field :surname
      %tr
        %td=f.label :role
        %td=f.select :role, :options => access_control.roles

  -box :authentication do
    %table
      %tr
        %td=f.label :email
        %td=f.text_field :email
      %tr
        %td=f.label :password
        %td=f.password_field :password
      %tr
        %td=f.label :password_confirmation
        %td=f.password_field :password_confirmation
        