!!!
%html
  %head
    %title="Welcome to #{options.app_name.titleize}"
    =stylesheet_link_tag "standard", "login"
  %body
    #wrapper
      #login-box
        #content
          -form_tag url_for(:sessions_create) do
            %h2 Login in to Admin Panel
            .field 
              Email:
              .ln=text_field_tag :email, :value => params[:email], :style => "width:250px"
            .field
              Password:
              .ln=password_field_tag :password, :value => params[:password], :style => "width:250px"
            .padding-top.bottom
              .left=flash[:notice]
              .right=image_submit_tag("../images/admin/btn-login.png", :style => "padding:none;border:none;width:72px;height:25px")
              .clear
      #copyright
        Powered by 
        =link_to "Padrino", "http://github.com/padrino/padrino-framework", :target => :_blank
        v.
        =Padrino.version