project_path = "."
environment = :development
project_type = :stand_alone
sass_options = {:cache => false, :always_update => true}
http_path = "/"
sass_dir = "app/stylesheets"
additional_import_paths = ["./app/stylesheets/partials","./app/stylesheets"]
css_dir = "./public/stylesheets"
images_dir = "./public/images"
http_images_path = "/images"
javascripts_dir = "./public/javascripts"
output_style = :compressed