<%= @app_name %>.controllers do
  # get :index, :map => "/foo/bar" do
  #   session[:foo] = "bar"
  #   render 'index'
  # end
  
  # get :sample, :map => "/sample/url" do
  #   "Hello world!"
  # end

  # get "/example" do
  #   "Hello world!"
  # end
  
  <%= @actions %>
end