require 'bundler/setup'
require 'padrino-core/cli/rake'

<%- if options[:orm] && options[:orm] != :none -%>
PadrinoTasks.use(:database)
PadrinoTasks.use(<%= options[:orm].to_sym.inspect %>)
<%- end -%>
PadrinoTasks.init
