<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title><%%= @title.present? ? "#{@title} | Padrino Admin" : "Padrino Admin" %></title>
    <%%= stylesheet_link_tag "bootstrap", "admin" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%%= link_to "Padrino Admin", url(:base_index), :class => "brand" %>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a id="user-menu" class="dropdown-toggle" href="#" data-toggle="dropdown">
                <%%= tag_icon :user %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%%= link_to tag_icon(:edit, "Profile"), url(:<%= @model_plural %>, :edit, :id => current_account.id), :class => "Edit", :id => "user-profile" %></li>
                <li class="dropdown-form"><%%= button_to("Logout", url(:sessions, :destroy), :method => :delete) { link_to tag_icon(:off, "Logout"),"#", :id => "user-logout", :class => "to_submit" } %></li>
              </ul>
            </li>
          </ul>

          <ul class="nav pull-left">
            <%% project_modules.each do |project_module| %>
              <%% if request.path_info =~ /^#{project_module.path}/ %>
                <li class="active">
              <%% else %>
                <li>
              <%% end %>
                <%%= link_to project_module.human_name, project_module.path("/admin") %>
                </li>
            <%% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class='container'>
      <div class='content'>
        <div class='wrapper'>
          <div class='proper-content'>
            <div class='flash'><%%= [:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type}", :bootstrap => true) }.join %></div>
            <div class='row'><%%= yield %></div>
          </div>
          <div class='push' />
        </div>
        </div>
        <div class='footer'>
          <p>Copyright &copy; <%= Time.now.year %> Your Site - <b>Powered by Padrino v.<%= Padrino.version %></b></p>
          <ul class='footer-links'>
            <li><%%= link_to tag_icon(:home, "web"), "http://www.padrinorb.com", :target => :_blank %></li>
            <li><%%= link_to tag_icon(:heart, "blog"), "http://www.padrinorb.com/blog", :target => :_blank %></li>
            <li><%%= link_to tag_icon(:github, "code"), "https://github.com/padrino/padrino-framework", :target => :_blank %></li>
            <li><%%= link_to tag_icon(:twitter, "twitter"), "http://twitter.com/padrinorb", :target => :_blank %></li>
          </ul>
        </div>
      </div>

    <%%= javascript_include_tag 'jquery-1.8.2.min', (Padrino.env == :production ? 'bootstrap.min' : %w[bootstrap/bootstrap-affix bootstrap/bootstrap-alert bootstrap/bootstrap-button bootstrap/bootstrap-carousel bootstrap/bootstrap-collapse bootstrap/bootstrap-dropdown bootstrap/bootstrap-tooltip bootstrap/bootstrap-transition bootstrap/bootstrap-typeahead bootstrap/bootstrap-modal bootstrap/bootstrap-popover bootstrap/bootstrap-scrollspy bootstrap/bootstrap-tab]), :application %>
  </body>
</html>
