<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Padrino Admin</title>
    <%%= tag :link , :rel => 'stylesheet/less', :type => 'text/css', :href => asset_path('stylesheets', 'admin.less') %>
    <%%= javascript_include_tag 'jquery-1.7.1.min', 'less-1.3.0.min', 'application' %>
    <!-- Twitter Bootstrap -->
    <%%= javascript_include_tag %w[bootstrap/bootstrap-affix bootstrap/bootstrap-alert bootstrap/bootstrap-button] %>
    <%%= javascript_include_tag %w[bootstrap/bootstrap-carousel bootstrap/bootstrap-collapse bootstrap/bootstrap-dropdown] %>
    <%%= javascript_include_tag %w[ bootstrap/bootstrap-tooltip bootstrap/bootstrap-transition bootstrap/bootstrap-typeahead] %>
    <%%= javascript_include_tag %w[bootstrap/bootstrap-modal bootstrap/bootstrap-popover bootstrap/bootstrap-scrollspy bootstrap/bootstrap-tab] %>
  </head>
  <body>
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container-fluid'>
          <%%= link_to 'Padrino Admin', url(:base_index), :class => 'brand' %>
          <ul class="nav pull-left">
            <%% project_modules.each do |project_module| %>
              <%% if request.path_info =~ /^#{project_module.path}/ %>
                <li class='active'>
              <%% else %>
                <li>
              <%% end %>
                <%%= link_to project_module.human_name, project_module.path('/admin') %>
                </li>
                <%% end %>
          </ul>
          <ul class='nav pull-right'>
            <li> <%%= link_to 'Profile', url(:<%= @model_plural %>, :edit, :id => current_account.id) %> </li>
            <li> <%%= button_to 'Logout', url(:sessions, :destroy), :method => :delete, :class => 'button_to navbar-search' %></li>
          </ul>
        </div>
      </div>
      </div>
    <%% sidebar = yield_content(:sidebar) %>
    </div>
    <div class="container-fluid">
      <div class='row-fluid'>
        <%% if sidebar %>
          <div class="span2"> <%%= sidebar %> </div>
          <div class='span10'>
         <%% else %>
           <div>
         <%% end %>
          <%%= breadcrumbs settings.breadcrumbs, true %>
          <%% [:error, :warning, :success, :notice].each do |type| %>
            <%% next if flash[type].blank? %>
            <div id='flash-result' class='<%%= type %>'>
              <h4><%%= type %></h4>
              <%%= flash[type] %>
            </div>
          <%% end %>
           </div>
          <div id='padrino-modal' class='modal hide fade'>
            <div class="modal-header">
              <a class='close' data-dismiss='modal'>x</a>
              <h3 id='padrino-modal-title'></h3>
           </div>
            <div class="modal-body" id='padrino-modal-body'></div>
            <div class="modal-footer">
              <a href="#" id='padrino-modal-close' class="btn  pull-right" data-dismiss="modal"></a>
            </div>
          </div>
          <%%= yield %>
           </div>
      <footer>
        <p class="center-block"> Copyright &copy; <%= Time.now.year %> Your Site -
          <b>Powered by Padrino v.<%= Padrino.version %></b>
          <p>
            <%%= link_to "Padrino web", "http://www.padrinorb.com", :target => :_blank %>
            <%%= link_to "Padrino blog", "http://www.padrinorb.com/blog", :target => :_blank %>
            <%%= link_to "Padrino code", "https://github.com/padrino/padrino-framework", :target => :_blank %>
            <%%= link_to "Padrino twitter", "http://twitter.com/padrinorb", :target => :_blank %>
          </p>
        </p>
      </footer>
  </body>
</html>
