<div class="well">
  <h3>Simple Block</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
   </p>
</div>

<div class="well">
  <h3>Links</h3>
  <ul class="unstyled">
    <li><%%= link_to "Link 1" %></li>
    <li><%%= link_to "Link 2" %></li>
  </ul>
</div>
