# Define your named routes inside config/urls.rb
# You can also use unnamed routes by defining them directly

<%= @app_name %>::controllers do
  # get :index do
  #   session[:foo] = "bar"
  #   haml_template 'index'
  # end

  # get "/example" do
  #   "Hello world!"
  # end
end