=begin

By default, Padrino mailer uses the built-in sendmail binary functionality on the server. 
However, smtp is also supported using the following configuration if needed:

=end

module MailerInitializer
  def self.registered(app)
    # Padrino::Mailer::Base.smtp_settings = {
    #  :host   => 'smtp.gmail.com',
    #  :port   => '587',
    #  :tls    => true,
    #  :user   => 'user',
    #  :pass   => 'pass',
    #  :auth   => :plain
    # }
  end
end